.toolbar {
    width: 320px;
    background-color: #313131;
    height: 100%;
    box-shadow: 2px 2px 7px 0px rgb(82, 82, 82);
    color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.tools_title {
    margin: 20px;
}

.tool-name {
    font-weight: bold;
    margin-right: 12px;
}