.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: slategray;
    position: relative;
}

.toolbarAndCanvas {
    flex: 1 0 0;
    min-height: 0;
    display: flex;
}

.canvasContainer {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}