.header {
    padding: 8px 20px;
    background-color: rgb(63, 63, 63);
    color: white;
    display: flex;
    height: 60px;
    gap: 20px;
    align-items: center;
    box-shadow: 2px 2px 7px 0px rgb(82, 82, 82);
}

.freddie {
    height: 100%;
}