.toolbar {
    padding: 8px 20px;
    background-color: rgb(63, 63, 63);
    color: white;
    display: flex;
    height: 60px;
    gap: 20px;
    align-items: center;
}

.freddie {
    height: 100%;
}