.SpriteList {
    padding: 0 20px;
    display: flex;

    &.list {
        flex-direction: column;
    }

    &.grid {
        flex-wrap: wrap;
    }

    &-sprite {
        font-size: 16px;
        color: white;
        background: none;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        cursor: pointer;

        &:hover, &.selected {
            background-color: rgb(31, 74, 74);
        }

        .grid & {
            width: 220px;
            display: flex;
            flex-direction: column-reverse;
        }
    }
    
    &-spriteName {
        margin-right: 8px;
    }
    
    &-spriteImage {
        max-width: 200px;
        max-height: 80px;
    }
}

