.selectTool {
  padding: 20px;
  display: flex;
  flex-direction: column;

  &-property {
    margin-bottom: 12px;

    &-readOnlyValue {
      font-family: 'Courier New', Courier, monospace;
      background-color: rgb(22, 22, 85);
      padding: 4px;
    }
    &Input {
      width: 60px;
      margin-right: 8px;
    }
  }

  &-propertySection {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-title {
      margin-bottom: 8px;
      font-weight: bold;
    }
  }
}
